doctype html

html(lang='en-US')
  head
    title Todo App
    meta(charset='en-US')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=PT+Sans')
    link(rel='stylesheet' href='/stylesheets/whitespace-reset.css')
    link(rel='stylesheet' href='/stylesheets/application.css')
    script(src='/javascripts/application.js')

  body
    header
      h1 Todo Tracker
      block headerLinks

    main
      - let msgTypes = Object.keys(flash || {});
      if msgTypes.length > 0
        ul
          each type in msgTypes
            each message in flash[type]
              li.flash(class=type)= message
      block main
    footer
      block signIn
        if signedIn
          form(action="/users/signout" method="post")
            fieldset.actions
              p.account Signed in as #{username}.
              button.account Sign Out
        else
          form.account_actions(action="/users/signin" method="get")
            fieldset.actions
              p.account You are not signed in.
              button.account Sign In
          

          form.account_actions(action="users/signup" method="get")
            fieldset.actions
              p.account Don't have an account?
              button.account Sign up